<section class="main-slider">
  <div class="flexslider">
    <ul class="slides">
      <div img src="style="background: url(https://www.publicdomainpictures.net/pictures/230000/velka/fluffy-cat-15015516572e3.jpg)">
        <div class="slider-text">
            <div class="inner">
              <div class="container text-center">
                <div class="row">
                  <div class="col-lg-10 col-lg-offset-2">
                    <h1>Welcome To My World Of Cats</h1>
                    <p>"Of all God's creatures, there is only one that cannot be made slave of the lash. That one is the cat. If man could be crossed with the cat it would improve the man, but it would deteriorate the cat." <i>- Mark Twain.</i></p>
                    <a href="#" class="btn btn-lg border-white">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
        </div> 
      </div>
    </ul>
  </div>
</section>