<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

<style>
  body {background-image: url("http://www.publicdomainpictures.net/pictures/120000/velka/white-texture-background.jpg");}
  h2 {color: midnightblue;}
</style>

</head>
<body>

<%= form_tag "/client/cats", method: :post do %>

<div>
  Name: <input type="text" name="name"/>
</div>

<div>
  Breed: <input type="text" name="breed"/>
</div>

<div>
  Age: <input type="text" name="age"/>
</div>

<div>
  Registry: <input type="text" name="registry"/>
</div>

<div>
  Image: <input type="text" name="image"/>
</div>

<input type="submit" name="" value="Create A Cat"/>
<% end %>


</body>
</html>

